[Unit]
Description=uWSGI instance to serve dhcpdmanager-uwsgi project
After=network.target

[Service]
User=dhcpdmanager
Group=nobody
#User=root
#Group=root
WorkingDirectory=/www/dhcpdmanager/app
Environment="PATH=/www/dhcpdmanager/venv/bin"
ExecStart=/www/dhcpdmanager/venv/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
