.wrapper-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13% auto;
    width: 23%;
}
.form__legend {
    text-align: center;
    margin: 0 0 1% 0;
}
.login__msg {
    color: red;
    list-style-type: none;
    padding: 0;
    margin: -3% 0 3% 0;
    text-align: center;
}
.btn__custom {
    margin: 0 0 1% 0;
}
.btn__custom:hover {
    cursor: pointer;
}
.user__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/*.username, 
.username__logout {
   display: flex;
   justify-content: flex-end;
}*/
button:hover {
	cursor: pointer;
}
.table-hover:hover {
	cursor: pointer;
}
.wrapper {
	margin: 1% 0 0 0;
	display: flow-root;
}
.sats-nav {
	margin: 0 0 3% 0 ;
}
.form_block {
	float: left;
}
/*.config {
	margin: 10% 0 0 0;
}*/
.config small {
	display: block;
	margin: -2% 0 5% 0;
	line-height: 1.3;
}
.action__icon {
	padding: 0;
}
.action__icon:last-child {
	margin: 0 0 0 10%;
}
.action__icon img {
	width: 20px;
	height: 20px;
	margin: 0 0 0 10%;
}
.action__icon img:hover {
	opacity: 0.6;
}
/*---modal window---*/
.show__del-window {
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
	position: fixed;
	background-color: rgba(64,64,64,0.9);	
   animation: bg-fadeIn linear 0.4s;
}
@-moz-keyframes bg-fadeIn {
    from { opacity: 0; }
	to { opacity: 0.85; }
}
@-webkit-keyframes bg-fadeIn {
    from { opacity: 0; }
	to { opacity: 0.85; }
}
@keyframes bg-fadeIn {
    from { opacity: 0; }
	to { opacity: 0.85; }  
}

.progress__spin {
    border: 5px solid #9ca59f;  /*#f3f3f3*/
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;

    margin: -25% 50%;
    display: none;
    position: fixed;
    z-index: 998;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*------------------*/