<!-- header -->
{% extends 'base.html' %}
{%- block title -%} Список доступных устройств {%- endblock -%}

<!-- menu -->
{% set active_page = 'hosts_allow' %}

<!-- основное содержимое -->

<!-- форма слева -->
{% block content_form %}
<form class="form-control config" action="{{ url_for('hosts_allow') }}" method="POST" autocomplete="on">
	<fieldset>
		<legend>Добавить устройство</legend>	
{#	
		<div class="form-group">
		  <label for="hostname">Имя устройства:</label>
		  <input class="form-control" type="text" id="hostname" name="hostname" maxlength="20" required placeholder="имя устройства"> 
     </div>

		<div class="form-group">
			<label for="mac_addr">mac адрес:</label>
			<input class="form-control" type="text" id="mac_addr" name="mac_addr" maxlength="17" required size="17" placeholder="mac адрес устройства">
		</div>					
#}
     {% for field in form %}
        <div class="form-group">
           {{ field.label(class='control-label') }}
           {{ field(class='form-control') }}
        </div>     
     {% endfor %}
     
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block" name="int__add_config">Добавить устройство</button>
		</div>
	</fieldset>
</form>
{% endblock %}


<!-- таблица результатов -->
{% block table_result %}
<p>Сконфигурированные устройства</p>
<table class="table table-responsive" id="subnets_content">		
	<thead class="text-nowrap">		
		<tr>			
			<th>id</th>
			<th>Имя устройства</th>
			<th>mac adress</th>
			<th>Действия</th>
		</tr>
	</thead>
	
	<tr>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.hostname }}</td>
                <td>{{ item.mac_addr | upper }}</td>              
                <td>
            			<a href="#" class="action__icon btn" title="редактировать">
            				<img src="static/img/glyphicons-31-pencil.png" alt="редактировать">
            			</a>

            			<a href="#" class="action__icon btn" data-toggle="modal" \
                			data-target="remove__subnet" title="удалить" \
                			row-id="4" onclick=show_modal_delete(this);>
            				<img src="static/img/glyphicons-17-bin.png" alt="удалить">
            			</a>
            		</td>
            </tr>
        {% endfor %}
    </tr>									
</table>
{% endblock %}
		
		
<!-- всплывающее окно -->
{% block popup_window %}
<div id="remove__devices" class="modal remove__devices" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Удаление устройства</h4>
				<button type="button" class="close" onclick="close_modal_delete();">×</button>
			</div>

			<div class="modal-body">Удалить устройство ?</div>
			
			<div class="modal-footer">			
				<button type="button" class="btn btn-default" onclick="remove_row();">Да</button>		
				<button type="button" class="btn btn-danger" onclick="close_modal_delete();">Нет</button>						
			</div>
		</div>
	</div>
</div>

<div class="progress__spin"></div>
{% endblock %}