<!-- header -->
{% extends 'base.html' %}
{%- block title -%} Управление подсетями {%- endblock -%}

<!-- menu -->
<!-- уже установлено активным по умолчанию -->

<!-- основное содержимое -->

<!-- форма слева -->
{% block content_form %}
                                           {# ф-ия которая отвечает за рендер шаблона #}
<form class="form-control config" action="{{ url_for('index') }}" method="POST" autocomplete="on">
	<fieldset>
		<legend>Настройки конфига подсети</legend>
		<small>* если в списке не отображаются нужный vlan, то необходимо его создать на всех серверах</small>

     {# переменная form из view.py #}     
     {% for field in form %}
        <div class="form-group">
           {{ field.label(class='control-label') }}
           {{ field(class='form-control') }}
        </div>
     {% endfor %}
     <small>* номер vlan обычно совпадает с подинтерфейсом</small>
    
		<div class="form-group">		
			<button type="submit" class="btn btn-primary btn-block" name="net_add">Сконфигурировать подсеть</button>
		</div>
	</fieldset>
</form>
{% endblock %}

<!-- таблица результатов -->
{% block table_result %}
<p>Сконфигурированные подсети и vlan</p>
<table class="table table-responsive" id="subnets_content">		
    <thead class="text-nowrap">		
        <tr>			
            <th>Интерфейс</th>
    			 <th>Ip подсети</th>
    		    <th>Маска подсети</th>
    			 <th>Шлюз подсети</th>
    			 <th>Broadcast</th>
    			 <th>Начальный ip</th>
    			 <th>Конечный ip</th>
    			 <th>DNS суффикс</th>
    			 <th>DNS сервер осн.</th>
    			 <th>DNS сервер рез.</th>
    			 <th>Failover peer</th>
    			 <th>Опция 242</th>
    			 <!-- <th>Действия</th> -->
        </tr>
    </thead>
    <tbody>			
    <tr>
        {% for item in items %}
            <tr>
                <td>{{ item.interface }}</td>
                <td>{{ item.subnet_ipv4 }}</td>
                <td>{{ item.netmask }}</td>
                <td>{{ item.default_gw }}</td>
                <td>{{ item.broadcast }}</td>
                <td>{{ item.ip_range_start }}</td>
                <td>{{ item.ip_range_end }}</td>
                <td>{{ item.dns_suffix }}</td>
                <td>{{ item.dns_srv_01 }}</td>
                <td>{{ item.dns_srv_02 }}</td>
                <td>{{ item.failover_peer }}</td>
                <td>MCIPADD=10.16.233.30,MCPORT=1719,TLSSRVR=10.16.233.23,HTTPSRVR=10.16.233.23,L2Q=1,L2QVLAN={{ item.opt_242 }},VLANTEST=0</td>                
                {# <td>
            			<a href="#" class="action__icon btn" title="редактировать">
            				<img src="static/img/glyphicons-31-pencil.png" alt="редактировать">
            			</a>

            			<a href="#" class="action__icon btn" data-toggle="modal" \
                			data-target="remove__subnet" title="удалить" \
                			onclick=showModalDelete(this);>
            				<img src="static/img/glyphicons-17-bin.png" alt="удалить">
            			</a>
            		</td> #}
            </tr>
        {% endfor %}
    </tr>
    </tbody>										
</table>
{% endblock %}

<!-- всплывающее окно удаления записи из БД -->
{% block popup_window %}
<div id="remove__subnet" class="modal show__del-window" tabindex="-1">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Удаление подсети</h4>
			<button type="button" class="close" onclick="closeModalWindow();">×</button>
		</div>
	
		<div class="modal-footer">	
		    <button type="button" class="btn btn-success" onclick="closeModalWindow();">Нет</button>
			 <button type="button" class="btn btn-danger" onclick="removeRow();">Да</button>									
    	</div>
	</div>
</div> 
</div>
{% endblock %}



